<div id="app-profile" class="profile d-flex flex-column px-4 pt-3 pb-4 h-100 bg-white mx-auto">
    <button id="app-close-btn" type="button" class="btn-close ms-auto text-end" aria-label="Close"></button>
    <h2 id="app-profile-login" class="profile__title pb-3"></h2>
    <p id="app-profile-text" class="profile__text">New password:</p>  
    <input id="app-profile-pass" class="profile__input form-control" type="password" placeholder="Enter your password" value="" autofocus>      
    <button id="app-profile-submit" class="btn btn-primary">Submit</button>               
</div>   