<div class="row mx-auto">
    <div class="d-flex flex-column gap-2 pt-2 pb-2 h-100 bg-white">
        <button type="button" class="btn-close" aria-label="Close"></button>
        <div class="tasks-col__title">Backlog</div>
        <div id="app-task-items" class="items"></div>
        <div class="buttons">
            <button id="app-task" class="tasks-col__add d-flex">
                    <div class="tasks-col__add_plus">&#8592;</div> 
                    <div class="tasks-col__add_text">Back</div>
            </button>
            <button id="app-task-submit" class="btn btn-primary">Submit</button>
        </div>        
    </div>   
</div>