<div class="row mx-auto tasks">
    <div class="col tasks-col d-flex flex-column gap-2 pt-2 pb-2 h-100">
        <div id="app-backlog" class="tasks-col__title">Backlog</div>
        <button class="tasks-col__add d-flex">
                <div class="tasks-col__add_plus">+</div> 
                <div class="tasks-col__add_text">Add card</div>
        </button>
    </div>
    <div class="col tasks-col d-flex flex-column gap-2 pt-2 pb-2 h-100">
        <div id="app-ready" class="tasks-col__title">Ready</div>
        <button class="tasks-col__add d-flex">
                <div class="tasks-col__add_plus">+</div> 
                <div class="tasks-col__add_text">Add card</div>
        </button>
    </div>
    <div class="col tasks-col d-flex flex-column gap-2 pt-2 pb-2 h-100">
        <div id="app-inprogress" class="tasks-col__title">In progress</div>
        <button class="tasks-col__add d-flex">
                <div class="tasks-col__add_plus">+</div> 
                <div class="tasks-col__add_text">Add card</div>
        </button>
    </div>
    <div class="col tasks-col d-flex flex-column gap-2 pt-2 pb-2 h-100">
        <div id="app-finished" class="tasks-col__title">Finished</div>
        <button class="tasks-col__add d-flex">
                <div class="tasks-col__add_plus">+</div> 
                <div class="tasks-col__add_text">Add card</div>
        </button>
    </div>
</div>    
